@media screen and (min-width: 760px) and (max-width: 1400px) {
  #activityTab {
    margin-bottom: 50px;
    max-width: 880px;
  }
  #lodgingList {
    justify-content: left;
    column-gap: 25px;
    background-color: white;
  }
  .navLinkList {
    justify-content: left;
  }
  #lodgingListTabContainer {
    background-color: white;
  }
  .filtersNameWrapicon{
    margin-right: 250px;
  }
  .filtersName{
    display: flex;
    max-width: 600px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 759px) {
  body {
    margin: 0px;
  }
  .filtersName{
    margin-right: 300px;
    min-width: max-content;
  }
  #filtersTab{
    padding-left: 20px;
  }
  #desktopBtn {
    display: none;
  }
  #mobileBtn {
    display: flex;
  }
  .fas.fa-search {
    color: white;
    margin-top: -25px;
    margin-left: -30px;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: #0065fc;
  }
  .activitySmallContainerImg {
    width: 325px;
    height: 115px;
    border-radius: 15px 15px 0px 0px;
    margin: 5px;
    object-fit: cover;
  }
  .activityMediumContainerImg {
    margin: 5px;
    width: 325px;
    height: 115px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
  }
  .activityLargeContainerImg {
    margin: 5px;
    width: 325px;
    height: 115px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
  }
  .activitySmallContainer {
    width: 335px;
    height: 175px;
    margin-top: 40px;
    overflow: hidden;
    border-radius: 15px 15px 15px 15px;
    object-fit: cover;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
  }
  .activityMediumContainer {
    width: 335px;
    height: 175px;
    overflow: hidden;
    border-radius: 15px 15px 15px 15px;
    object-fit: cover;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
  }
  .activityLargeContainer {
    width: 335px;
    height: 175px;
    overflow: hidden;
    border-radius: 15px 15px 15px 15px;
    object-fit: cover;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
  }
  .lodgingTopContainer {
    width: 335px;
    height: 145px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .lodgingListContainer {
    padding: 5px;
    width: 335px;
    height: 200px;
    overflow: hidden;
    border-radius: 20px 20px 20px 20px;
    margin: auto;
    display: block;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .lodgingListContainerImg {
    padding: 5px;
    width: 325px;
    height: 120px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
    margin: auto;
    display: block;
    object-fit: cover;
  }
  #lodgingListTabContainer {
    border-radius: 15px 15px 15px 15px;
    background-color: white;
    max-width: 649px;
    padding: 20px;
  }
  .lodgingCaptionList {
    line-height: 10%;
  }
  #lodgingTopTabContainer {
    border-radius: 15px 15px 15px 15px;
    background-color: #f2f2f2;
    max-width: 649px;
    padding: 20px;
    line-height: 100%;
  }
  #activityTab {
    padding-left: 20px;
    margin-bottom: 50px;
  }
  #footer {
    padding-left: 25px;
    margin: 0px;
  }
  #searchTab {
    padding: 0px 20px;
  }
  #filters {
    padding: 0px 200px 0px 20px;
  }
}
