@media screen and (min-width: 760px) and (max-width: 1300px) {
   body {
    margin: 0px;
  }
  #activityTab {
    margin-bottom: 50px;
    max-width: 880px;
  }
  #lodgingList {
    justify-content: left;
    background-color: white;
  }
  #lodgingList figure{
  	margin-right:25px;
  }
  #lodgingListTabContainer {
    background-color: white;
  }
  .filtersNameWrapicon{
    margin-right: 250px;
  }
  .filtersName{
	min-width: max-content;
    width: 150px;
    flex-wrap: wrap;
		margin-bottom:20px;
  }
  #filtersTab div{
    margin-right:15%;
  }
}
@media screen and (max-width: 759px) {
  #logo{
    margin-left: 20px;
  }
  html, body {
    overflow-x: hidden;
  }
  body ,main, section{
    margin: 0px;
  }
  .filtersName{
	min-width: max-content;
    width: 150px;
    flex-wrap: wrap;
	margin-bottom:20px;
  }
  #filtersTab div{
    margin-right:30%;
  }
  #anchors{
	margin-right:0px;
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 759px;
  }
  #anchors a{
    margin-left:0px;
  }
  #navLink_activity {
	width: 50%;
    padding: 30px 40% 30px 10%;
    border-width: 0px 0px 3px 0px;
    border-color: #f2f2f2;
    border-style: solid;
	
  }
  #navLink_activity:hover {
    border-color: #0065fc;
  }
  #navLink_lodging {
	width: 50%;
    padding: 30px 10% 30px 40%;
    border-width: 0px 0px 3px 0px;    
    border-style: solid;
    border-color: #f2f2f2;
  }
  #navLink_lodging:hover {
    border-color: #0065fc;
  }
  #navLink_register{
    margin-left: 80%;
  }
  #nav{
	max-width:100%;
	margin-left:0px;
	margin-right:0px;
	display:flex;
	flex-direction:reverse-column;
  }
  #filtersTab{
    padding-left: 20px;
  }
  #desktopBtn {
    display: none;
  }
  #mobileBtn {
    display: flex;
  }
  .fas.fa-search {
    color: white;
    margin-top: -25px;
    margin-left: -30px;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: #0065fc;
  }
  .activitySmallContainerImg {
    width: 325px;
    height: 115px;
    border-radius: 15px 15px 0px 0px;
    margin: 5px;
    object-fit: cover;
  }
  .activityMediumContainerImg {
    margin: 5px;
    width: 325px;
    height: 115px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
  }
  .activityLargeContainerImg {
    margin: 5px;
    width: 325px;
    height: 115px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
  }
  .activitySmallContainer {
    margin-bottom: -25px;
    width: 335px;
    height: 175px;
    margin-top: 40px;
    overflow: hidden;
    border-radius: 15px 15px 15px 15px;
    object-fit: cover;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
  }
  .activityMediumContainer {
    margin-bottom: -35px;
    width: 335px;
    height: 175px;
	margin-top: 40px;
    overflow: hidden;
    border-radius: 15px 15px 15px 15px;
    object-fit: cover;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
  }
  .activityLargeContainer {
    margin-bottom: -35px;
    width: 335px;
    height: 175px;
    overflow: hidden;
	margin-top: 40px;
    border-radius: 15px 15px 15px 15px;
    object-fit: cover;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
  }
  .lodgingTopContainer {
    width: 335px;
    height: 145px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .lodgingListContainer {
    padding: 5px;
    width: 335px;
    height: 200px;
    overflow: hidden;
    border-radius: 20px 20px 20px 20px;
    margin: auto;
    display: block;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .lodgingListContainerImg {
    padding: 5px;
    width: 325px;
    height: 120px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
    margin: auto;
    display: block;
    object-fit: cover;
  }
  #lodgingListTabContainer {
    border-radius: 15px 15px 15px 15px;
    background-color: white;
    max-width: 649px;
    padding: 20px;
    margin-bottom: -40px;
  }
  .lodgingCaptionList {
    line-height: 10%;
  }
  #lodgingTopTabContainer {
    border-radius: 15px 15px 15px 15px;
    background-color: #f2f2f2;
    max-width: 649px;
    padding: 20px;
    line-height: 100%;
  }
  #activityTab {
    padding-left: 20px;
    margin-bottom: 50px;
  }
  #activityTabContainerLeft {
    margin-bottom: -10px;
  }
  #footer {
	text-align:center;
	justify-content:space-around;
    margin: 0px;
	max-width:680px;
  }
  #footer div{
	margin-right:25%;
  }
  #searchTab {
    padding: 0px 20px;
  }
}
