body {
  font-family: "Raleway", "Sans serif";
  max-width: 1440px;
  margin-left: 45px;
}
a {
  color: inherit;
  text-decoration: none;
}
h4 {
  font-size: 16px;
}
h3 {
  font-size: 18px;
}
h2 {
  font-size: 22px;
  font-weight: 900;
}
input[type="text"] {
  padding-left: 20px;
}
.icon {
  padding: 10px;
  background: #f2f2f2;
  color: white;
  min-width: 50px;
  text-align: center;
}
.btn {
  background-color: #0065fc;
  font-size: 18px;
  outline: none;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  max-width: 135px;
  border-radius: 0px 20px 20px 0px;
}
.lodgingListContainerImg {
  padding: 5px;
  width: 235px;
  height: 120px;
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;
  margin: auto;
  display: block;
  object-fit: cover;
}
.lodgingTopContainerImg {
  width: 130px;
  height: 135px;
  overflow: hidden;
  margin: auto;
  margin-left: 5px;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
}
.lodgingCaptionList {
  line-height: 55%;
  font-size: 14px;
  margin-left: 20px;
  max-width: 180px;
}
.lodgingCaptionTop {
  font-size: 14px;
  margin-left: 20px;
  max-width: 180px;
}
.lodgingListContainer {
  width: 250px;
  height: 200px;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
}
.lodgingTopContainer {
  width: 345px;
  height: 145px;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.activitySmallContainerImg {
  width: 300px;
  height: 120px;
  border-radius: 15px 0px 0px 15px;
  object-fit: cover;
}
.activityMediumContainerImg {
  width: 300px;
  height: 180px;
  border-radius: 15px 0px 0px 15px;
  object-fit: cover;
}
.activityLargeContainerImg {
  width: 300px;
  height: 390px;
  border-radius: 15px 0px 0px 15px;
  object-fit: cover;
}
.activitySmallContainer {
  width: 300px;
  height: 170px;
  margin-top: 40px;
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  object-fit: cover;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
}
.activityMediumContainer {
  width: 300px;
  height: 230px;
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  object-fit: cover;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
}
.activityLargeContainer {
  width: 300px;
  height: 440px;
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  object-fit: cover;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
}
.filtersName {
  cursor: pointer;
  z-index: 1;
  height: 50px;
  padding-left: 60px;
  padding-right: 10px;
  border: #f2f2f2;
  border-width: medium;
  border-style: solid;
  border-radius: 30px;
}

.filtersName:hover {
  background-color: #f2f2f2;
  color: #0065fc;
  font-size: 20px;
}
#searchBar {
  display: flex;
  margin-bottom: 15px;
}
#searchField {
  line-height: 46px;
  font-size: 18px;
  outline: none;
  border-width: 1px;
  display: flex;
  width: 235px;
  margin-left: 50px;
  border-color: #f2f2f2;
  border-style: solid;
}
#searchField::placeholder {
  opacity: 1;
  padding-left: 20px;
  font-weight: bolder;
  color: black;
}
#searchField:focus::placeholder {
  padding-left: 20px;
  color: transparent;
}
#footer {
  line-height: 28px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  gap: 20%;
  align-items: flex-start;
  background: #f2f2f2;
  padding: 50px;
  margin-left: -50px;
  max-height: fit-content;
}
#about {
  display: flex;
  flex-direction: column;
}
#ourLodging {
  display: flex;
  flex-direction: column;
}
#help {
  display: flex;
  flex-direction: column;
}
#lodgingTab {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: left;
  gap: 40px;
}
#lodgingListTabContainer {
  border-radius: 15px 15px 15px 15px;
  background-color: #f2f2f2;
  max-width: 800px;
  padding: 10px 40px;
}
#lodgingList {
  border-radius: 15px 15px 15px 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#lodgingTopTabContainer {
  border-radius: 15px 15px 15px 15px;
  background-color: #f2f2f2;
  max-width: 420px;
  padding: 10px 40px;
}
#activityTab {
  margin-top: 50px;
}
#activityTabContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  gap: 50px;
  max-width: 1440px;
}
#activityTabContainerLeft {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 300px;
}
#activityTabContainerRight {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 300px;
}
#filtersTab {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  gap: 25px;
}
#info {
  margin: 45px;
}
.fas {
  color: #0065fc;
  background-color: #deebff;
  padding: 18px 15px 12px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 0px;
  vertical-align: middle;
  position: absolute;
}
.filtersNameWrapicon {
  margin-top: -3px;
  margin-left: -63px;
}
.fas.fa-map-marker-alt {
  color: black;
  width: 20px;
  height: 20px;
  border-radius: 15px 0px 0px 15px;
  background-color: #f2f2f2;
}
.fas.fa-info-circle {
  margin-top: -15px;
  margin-left: -45px;
  width: 8px;
  height: 8px;
  background-color: white;
}
#nav {
  margin: -60px 100px 30px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}
#navLink_register {
padding: 30px 0px;
  border-width: 3px 0px 0px 0px;
  color: #0065fc;
  font-weight: bolder;
}
#navLink_register:hover {
  border-style: solid;
  margin-top: -3px;
}
#navLink_lodging {
  padding: 30px 0px;
  border-width: 1px 0px 0px 0px;
  color: #0065fc;
}
#navLink_lodging:hover {
  border-style: solid;
  margin-top: -3px;
}
#navLink_activity {
  padding: 30px 0px;
  border-width: 1px 0px 0px 0px;
}
#navLink_activity:hover {
  border-style: solid;
  margin-top: -3px;
}
#anchors {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-left: auto;
  margin-right: 50px;
}
#logo {
  margin-top: 20px;
}
#mobileBtn {
  display: none;
}
