body {
  font-family: "Raleway", "Sans serif";
  max-width: 1440px;
  margin: auto;
}
a {
  color: inherit;
  text-decoration: none;
}
.navLinkList {
  display: flex;
  align-items: center;
}
.navLink:hover {
  border: 2px;
  border-color: #0065fc;
}
.icon {
  padding: 10px;
  background: #f2f2f2;
  color: white;
  min-width: 50px;
  text-align: center;
}
.btn {
  background-color: #0065fc;
  color: white;
  padding: 17px 20px;
  border: none;
  cursor: pointer;
  max-width: 135px;
  border-radius: 0px 15px 15px 0px;
}
.lodgingListContainerImg {
  width: 235px;
  height: 120px;
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.lodgingCaption {
  text-align: left;
  margin-left: 15px;
  font-size: 13px;
}
.lodgingListContainer {
  width: 250px;
  height: 200px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  flex-wrap: wrap;
}
#nav {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
#searchBar {
  display: flex;
  margin-bottom: 15px;
}
#searchField {
  display: flex;
  width: 135px;
  border-radius: 15px 0px 0px 15px;
  border-color: #f2f2f2;
}
#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background: #f2f2f2;
  padding: 50px;
  max-height: 220px;
}
#about {
  display: flex;
  flex-direction: column;
}
#lodging {
  display: flex;
  flex-direction: column;
}
#help {
  display: flex;
  flex-direction: column;
}
#navLink_register {
  font-weight: bold;
  color: #0065fc;
  padding-inline-start: 15px;
}
#navLink_lodging {
  color: #0065fc;
  padding-inline-start: 15px;
}
#navLink_activity {
  padding-inline-start: 15px;
}
#lodgingList {
  border-radius: 15px 15px 15px 15px;
  background-color: #f2f2f2;
  max-width: 880px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
}
#lodgingListTab {
  padding: 20px 40px;
  border-radius: 15px 15px 15px 15px;
  background-color: #f2f2f2;
  max-width: 780px;

  padding-bottom: 20px;
}
#filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 880px;
}
