body {
  font-family: "Raleway", "Sans serif";
  max-width: 1440px;
  margin-right: 45px;
  margin-left: 45px;
}
a {
  color: inherit;
  text-decoration: none;
}
h2 {
  font-size: 16px;
  font-weight: 900;
}
h1 {
  font-size: 22px;
  font-weight: 900;
}
.navLinkList {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: right;
}
.navLink:hover {
  border: 2px;
  border-color: #0065fc;
}
.icon {
  padding: 10px;
  background: #f2f2f2;
  color: white;
  min-width: 50px;
  text-align: center;
}
.btn {
  background-color: #0065fc;
  color: white;
  padding: 17px 20px;
  border: none;
  cursor: pointer;
  max-width: 135px;
  border-radius: 0px 15px 15px 0px;
}
.lodgingListContainerImg {
  width: 235px;
  height: 120px;
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
  margin: auto;
  margin-top: 5px;
  display: block;
  object-fit: cover;
}
.lodgingTopContainerImg {
  width: 130px;
  height: 135px;
  overflow: hidden;
  margin: auto;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 15px 0px 0px 15px;
  object-fit: cover;
}
.lodgingCaption {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  margin-left: 20px;
  font-size: 13px;
  max-width: 200px;
}
.lodgingListContainer {
  width: 250px;
  height: 200px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
.lodgingTopContainer {
  width: 345px;
  height: 145px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
#nav {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: flex-start;
}
#searchBar {
  display: flex;
  margin-bottom: 15px;
}
#searchField {
  border-width: 1px;
  display: flex;
  width: 235px;
  border-radius: 15px 0px 0px 15px;
  border-color: #f2f2f2;
}
#footer {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background: #f2f2f2;
  padding: 50px;
  max-height: 220px;
}
#about {
  display: flex;
  flex-direction: column;
}
#lodging {
  display: flex;
  flex-direction: column;
}
#help {
  display: flex;
  flex-direction: column;
}
#navLink_register {
  font-weight: bold;
  color: #0065fc;
  padding-inline-start: 15px;
}
#navLink_lodging {
  color: #0065fc;
  padding-inline-start: 15px;
}
#navLink_activity {
  padding-inline-start: 15px;
}
#lodgingList {
  border-radius: 15px 15px 15px 15px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#lodgingListTabContainer {
  border-radius: 15px 15px 15px 15px;
  background-color: #f2f2f2;
  max-width: 800px;
  padding: 40px;
  padding-top: 10px;
}
#lodgingTopTabContainer {
  max-height: 880px;
  border-radius: 15px 15px 15px 15px;
  background-color: #f2f2f2;
  max-width: 420px;
  padding: 40px;
  padding-top: 10px;
}
#lodgingTab {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: left;
  gap: 40px;
}
#filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  gap: 25px;
  max-width: 880px;
}
